<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- GPO订单 -->
<mapper namespace="com.buit.his.gpo.dao.GpoDdDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        XH as xh,JGID as jgid,GPO_JGID as gpoJgid,YYBM as yybm,PSDBM as psdbm,PSDMC as psdmc,DDLX as ddlx,DDBH as ddbh,YYJHDH as yyjhdh,ZWDHRQ as zwdhrq,YQBM as yqbm,JHDWBM as jhdwbm,ZT as zt,SCSJ as scsj,SCRDM as scrdm,CBZT as cbzt,CBSJ as cbsj,CBRDM as cbrdm,ZFZT as zfzt,ZFSJ as zfsj,ZFRDM as zfrdm,QRZT as qrzt,QRSJ as qrsj,QRRDM as qrrdm,C_TIME as ctime,C_USER as cuser,C_UNAME as cuname,YKLX as yklx,YKSB as yksb
    </sql>

    <insert id="insert">
        INSERT INTO GPO_DD (
            XH ,
            JGID ,
            GPO_JGID ,
            YYBM ,
            PSDBM ,
            PSDMC ,
            DDLX ,
            DDBH ,
            YYJHDH ,
            ZWDHRQ ,
            YQBM ,
            JHDWBM ,
            ZT ,
            SCSJ ,
            SCRDM ,
            CBZT ,
            CBSJ ,
            CBRDM ,
            ZFZT ,
            ZFSJ ,
            ZFRDM ,
            QRZT ,
            QRSJ ,
            QRRDM ,
            C_TIME ,
            C_USER ,
            C_UNAME ,
            YKLX ,
            YKSB 
        ) VALUES (
            #{xh} ,
            #{jgid} ,
            #{gpoJgid} ,
            #{yybm} ,
            #{psdbm} ,
            #{psdmc} ,
            #{ddlx} ,
            #{ddbh} ,
            #{yyjhdh} ,
            #{zwdhrq} ,
            #{yqbm} ,
            #{jhdwbm} ,
            #{zt} ,
            #{scsj} ,
            #{scrdm} ,
            #{cbzt} ,
            #{cbsj} ,
            #{cbrdm} ,
            #{zfzt} ,
            #{zfsj} ,
            #{zfrdm} ,
            #{qrzt} ,
            #{qrsj} ,
            #{qrrdm} ,
            #{ctime} ,
            #{cuser} ,
            #{cuname} ,
            #{yklx} ,
            #{yksb} 
        )
    </insert>

    <insert id="batchInsert">
        INSERT INTO GPO_DD (
            XH ,
            JGID ,
            GPO_JGID ,
            YYBM ,
            PSDBM ,
            PSDMC ,
            DDLX ,
            DDBH ,
            YYJHDH ,
            ZWDHRQ ,
            YQBM ,
            JHDWBM ,
            ZT ,
            SCSJ ,
            SCRDM ,
            CBZT ,
            CBSJ ,
            CBRDM ,
            ZFZT ,
            ZFSJ ,
            ZFRDM ,
            QRZT ,
            QRSJ ,
            QRRDM ,
            C_TIME ,
            C_USER ,
            C_UNAME ,
            YKLX ,
            YKSB
        ) VALUES
        <foreach collection="list" item="d" separator=",">
            (
            #{d.xh} ,
            #{d.jgid} ,
            #{d.gpoJgid} ,
            #{d.yybm} ,
            #{d.psdbm} ,
            #{d.psdmc} ,
            #{d.ddlx} ,
            #{d.ddbh} ,
            #{d.yyjhdh} ,
            #{d.zwdhrq} ,
            #{d.yqbm} ,
            #{d.jhdwbm} ,
            #{d.zt} ,
            #{d.scsj} ,
            #{d.scrdm} ,
            #{d.cbzt} ,
            #{d.cbsj} ,
            #{d.cbrdm} ,
            #{d.zfzt} ,
            #{d.zfsj} ,
            #{d.zfrdm} ,
            #{d.qrzt} ,
            #{d.qrsj} ,
            #{d.qrrdm} ,
            #{d.ctime} ,
            #{d.cuser} ,
            #{d.cuname} ,
            #{d.yklx} ,
            #{d.yksb}
            )
        </foreach>

    </insert>
    
    <update id="update" >
        UPDATE GPO_DD SET
            JGID = #{jgid} ,
            GPO_JGID = #{gpoJgid} ,
            YYBM = #{yybm} ,
            PSDBM = #{psdbm} ,
            PSDMC = #{psdmc} ,
            DDLX = #{ddlx} ,
            DDBH = #{ddbh} ,
            YYJHDH = #{yyjhdh} ,
            ZWDHRQ = #{zwdhrq} ,
            YQBM = #{yqbm} ,
            JHDWBM = #{jhdwbm} ,
            ZT = #{zt} ,
            SCSJ = #{scsj} ,
            SCRDM = #{scrdm} ,
            CBZT = #{cbzt} ,
            CBSJ = #{cbsj} ,
            CBRDM = #{cbrdm} ,
            ZFZT = #{zfzt} ,
            ZFSJ = #{zfsj} ,
            ZFRDM = #{zfrdm} ,
            QRZT = #{qrzt} ,
            QRSJ = #{qrsj} ,
            QRRDM = #{qrrdm} ,
            C_TIME = #{ctime} ,
            C_USER = #{cuser} ,
            C_UNAME = #{cuname} ,
            YKLX = #{yklx} ,
            YKSB = #{yksb} 
        WHERE 
            XH = #{xh}
    </update>

    <delete id="deleteById"></delete>
    
    <delete id="removeByEntity"></delete>
    
    <select id="getById" resultType="com.buit.his.gpo.model.GpoDd">
        SELECT <include refid="columns" />
            FROM GPO_DD 
            WHERE 
        XH = #{xh} 
    </select>
        
    <select id="findByEntityCount" resultType="long"></select>
    <select id="findByEntity" resultType="com.buit.his.gpo.model.GpoDd"></select>
    <select id="page" resultType="com.buit.his.gpo.model.GpoDd">
        SELECT <include refid="columns" />
        FROM GPO_DD
        <where>
            ZT = 1
            AND YKLX = #{yklx}
            AND JGID = #{jgid}
            <if test="rqks != null">
                AND C_TIME >= #{rqks}
            </if>
            <if test="rqjz != null">
                AND C_TIME &lt;= #{rqjz}
            </if>
            <if test="yqmb != null">
                AND yqbm = #{yqmb}
            </if>
            <if test="(cbzt != null and cbzt.size() > 0) || qrzt != null || zfzt != null">
                AND (
                <trim prefixOverrides="OR">
                    <if test="cbzt != null and cbzt.size() > 0">
                        CBZT IN
                        <foreach collection="cbzt" item="cb" open="(" separator="," close=")">
                            <if test="cb != null">
                                #{cb}
                            </if>
                        </foreach>
                    </if>

                    <if test="qrzt != null">
                        OR QRZT = #{qrzt}
                    </if>
                    <if test="zfzt != null">
                        OR ZFZT = #{zfzt}
                    </if>
                </trim>
                )
            </if>
        </where>
    </select>
    <!--     业务sql      -->
    <select id="selectYqmc" resultType="java.lang.String">
        SELECT

            yq.PSQYMC AS MC
        FROM gpo_yq_jhdw jhdw
        LEFT JOIN shyb_yppsqy yq ON jhdw.YQID = yq.YPPSQYDATA_ID
        where  yq.TBDM=#{yqbm}

    </select>
</mapper>

