<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- GPO药品当前库存量数据传报明细 -->
<mapper namespace="com.buit.his.gpo.dao.GpoYpkccbxqmxDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        XH as xh,JGID as jgid,SPLX as splx,YPLX as yplx,ZXSPBM as zxspbm,YYSPBM as yyspbm,PSDBM as psdbm,YPKCL as ypkcl,KCDW as kcdw,C_TIME as ctime,C_USER as cuser,C_UNAME as cuname
    </sql>

    <insert id="insert">
        INSERT INTO GPO_YPKCCBXQMX (
            XH ,
            JGID ,
            SPLX ,
            YPLX ,
            ZXSPBM ,
            YYSPBM ,
            PSDBM ,
            YPKCL ,
            KCDW ,
            C_TIME ,
            C_USER ,
            C_UNAME 
        ) VALUES (
            #{xh} ,
            #{jgid} ,
            #{splx} ,
            #{yplx} ,
            #{zxspbm} ,
            #{yyspbm} ,
            #{psdbm} ,
            #{ypkcl} ,
            #{kcdw} ,
            #{ctime} ,
            #{cuser} ,
            #{cuname} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE GPO_YPKCCBXQMX SET
            JGID = #{jgid} ,
            SPLX = #{splx} ,
            YPLX = #{yplx} ,
            ZXSPBM = #{zxspbm} ,
            YYSPBM = #{yyspbm} ,
            PSDBM = #{psdbm} ,
            YPKCL = #{ypkcl} ,
            KCDW = #{kcdw} ,
            C_TIME = #{ctime} ,
            C_USER = #{cuser} ,
            C_UNAME = #{cuname} 
        WHERE 
            XH = #{xh} 
            -->            
    </update>

    <delete id="deleteById"></delete>
    
    <delete id="removeByEntity"></delete>
    
    <select id="getById" resultType="com.buit.his.gpo.model.GpoYpkccbxqmx">
        SELECT <include refid="columns" />
            FROM GPO_YPKCCBXQMX 
            WHERE 
        XH = #{xh} 
    </select>
        
    <select id="findByEntityCount" resultType="long"></select>
    <select id="findByEntity" resultType="com.buit.his.gpo.model.GpoYpkccbxqmx"></select>
    <!--     业务sql      -->
</mapper>

