<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 药品采购规则 -->
<mapper namespace="com.buit.his.medinsuinterface.sh.dataitem.dao.ShybYpcggzDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        YPCGGZDATA_ID as ypcggzdataId,DATA_VERSION as dataVersion,GMT_CREATE as gmtCreate,GMT_MODIFY as gmtModify,HOSPITAL_ID as hospitalId,TBDM as tbdm,FBRQ as fbrq,FBLX as fblx,CGFS as cgfs,CGZT as cgzt,CGYXFW as cgyxfw,CGPSSX as cgpssx,JZZQ as jzzq,ZFYQ as zfyq,GZYJ as gzyj,QYRQ as qyrq,YXRQ as yxrq,BGZD as bgzd
    </sql>

    <insert id="insert">
        INSERT INTO SHYB_YPCGGZ (
            YPCGGZDATA_ID ,
            DATA_VERSION ,
            GMT_CREATE ,
            GMT_MODIFY ,
            HOSPITAL_ID ,
            TBDM ,
            PY_CODE,
            WB_CODE,
            FBRQ ,
            FBLX ,
            CGFS ,
            CGZT ,
            CGYXFW ,
            CGPSSX ,
            JZZQ ,
            ZFYQ ,
            GZYJ ,
            QYRQ ,
            YXRQ ,
            BGZD 
        ) VALUES (
            #{ypcggzdataId} ,
            #{dataVersion} ,
            #{gmtCreate} ,
            #{gmtCreate} ,
            #{hospitalId} ,
            #{tbdm} ,
            #{pyCode},
            #{wbCode},
            #{fbrq} ,
            #{fblx} ,
            #{cgfs} ,
            #{cgzt} ,
            #{cgyxfw} ,
            #{cgpssx} ,
            #{jzzq} ,
            #{zfyq} ,
            #{gzyj} ,
            #{qyrq} ,
            #{yxrq} ,
            #{bgzd} 
        )
    </insert>
    
    <update id="update" >
        UPDATE SHYB_YPCGGZ SET
            DATA_VERSION = #{dataVersion} ,
            GMT_CREATE = #{gmtCreate} ,
            GMT_MODIFY = #{gmtModify} ,
            HOSPITAL_ID = #{hospitalId} ,
            TBDM = #{tbdm} ,
            PY_CODE = #{pyCode},
            WB_CODE = #{wbCode},
            FBRQ = #{fbrq} ,
            FBLX = #{fblx} ,
            CGFS = #{cgfs} ,
            CGZT = #{cgzt} ,
            CGYXFW = #{cgyxfw} ,
            CGPSSX = #{cgpssx} ,
            JZZQ = #{jzzq} ,
            ZFYQ = #{zfyq} ,
            GZYJ = #{gzyj} ,
            QYRQ = #{qyrq} ,
            YXRQ = #{yxrq} ,
            BGZD = #{bgzd} 
        WHERE 
            YPCGGZDATA_ID = #{ypcggzdataId} 
    </update>

    <delete id="deleteById">
        DELETE FROM SHYB_YPCGGZ WHERE
        YPCGGZDATA_ID = #{ypcggzdataId} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM SHYB_YPCGGZ <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="ShybYpcggz">
        SELECT <include refid="columns" />
            FROM SHYB_YPCGGZ 
            WHERE 
        YPCGGZDATA_ID = #{ypcggzdataId} 
    </select>

    <select id="getBytBdm" resultType="long">
        SELECT count(1)
            FROM SHYB_YPCGGZ
            WHERE TBDM = #{tbdm}
        <if test="@sqlt.Ognl@isNotEmpty(ypcggzdataId)">
             AND YPCGGZDATA_ID != #{ypcggzdataId}
        </if>
    </select>

    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(ypcggzdataId)"> -->
<!--                     AND YPCGGZDATA_ID = #{ypcggzdataId} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(dataVersion)"> -->
<!--                     AND DATA_VERSION = #{dataVersion} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(gmtCreate)"> -->
<!--                     AND GMT_CREATE = #{gmtCreate} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(gmtModify)"> -->
<!--                     AND GMT_MODIFY = #{gmtModify} -->
<!--                </if> -->
               <if test="@sqlt.Ognl@isNotEmpty(hospitalId)">
                    AND HOSPITAL_ID = #{hospitalId}
               </if>
               <if test="@sqlt.Ognl@isNotEmpty(tbdm)">
                   AND (
                       TBDM LIKE CONCAT(CONCAT('%',UPPER(#{tbdm})),'%')
                       or PY_CODE LIKE CONCAT(CONCAT('%',UPPER(#{tbdm})),'%')
                       or WB_CODE LIKE CONCAT(CONCAT('%',UPPER(#{tbdm})),'%')
                   )
               </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(fbrq)"> -->
<!--                     AND FBRQ = #{fbrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(fblx)"> -->
<!--                     AND FBLX = #{fblx} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(cgfs)"> -->
<!--                     AND CGFS = #{cgfs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(cgzt)"> -->
<!--                     AND CGZT = #{cgzt} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(cgyxfw)"> -->
<!--                     AND CGYXFW = #{cgyxfw} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(cgpssx)"> -->
<!--                     AND CGPSSX = #{cgpssx} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jzzq)"> -->
<!--                     AND JZZQ = #{jzzq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zfyq)"> -->
<!--                     AND ZFYQ = #{zfyq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(gzyj)"> -->
<!--                     AND GZYJ = #{gzyj} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(qyrq)"> -->
<!--                     AND QYRQ = #{qyrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(yxrq)"> -->
<!--                     AND YXRQ = #{yxrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(bgzd)"> -->
<!--                     AND BGZD = #{bgzd} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM SHYB_YPCGGZ 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="ShybYpcggz">
        SELECT <include refid="columns" />
        FROM SHYB_YPCGGZ 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    
    <update id="updateByTbdm" >
        UPDATE SHYB_YPCGGZ SET
            DATA_VERSION = #{dataVersion} ,
            GMT_CREATE = #{gmtCreate} ,
            GMT_MODIFY = #{gmtModify} ,
            HOSPITAL_ID = #{hospitalId} ,
            TBDM = #{tbdm} ,
            FBRQ = #{fbrq} ,
            FBLX = #{fblx} ,
            CGFS = #{cgfs} ,
            CGZT = #{cgzt} ,
            CGYXFW = #{cgyxfw} ,
            CGPSSX = #{cgpssx} ,
            JZZQ = #{jzzq} ,
            ZFYQ = #{zfyq} ,
            GZYJ = #{gzyj} ,
            QYRQ = #{qyrq} ,
            YXRQ = #{yxrq} ,
            BGZD = #{bgzd} 
        WHERE 
            TBDM = #{tbdm} 
    </update>
</mapper>

